/* Please visit the URL below for more information: */
/*   https://shd101wyy.github.io/markdown-preview-enhanced/#/customize-css */

body .chap1 {
  counter-reset: chapter 0;
}

body .chap2 {
  counter-reset: chapter 1;
}

body .chap3 {
  counter-reset: chapter 2;
}

body .chap4 {
  counter-reset: chapter 3;
}

body .chap5 {
  counter-reset: chapter 4;
}

body .chap6 {
  counter-reset: chapter 5;
}

h1 {
  counter-reset: sub-chapter;
}

h2 {
  counter-reset: section;
}

h1::before {
  counter-increment: chapter;
  content: "第" counter(chapter) "章 ";
}
